.statistics {
  width: 400px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  background-color: lightgray;
  box-shadow: 2px 2px 10px 2px #b7a774;

}

.title {
  padding: 20px 0;
  text-align: center;
  color: black;
  margin-bottom: 0;
}

.statList {
  display: flex;
  justify-content: space-around;
  margin-top: 0;
}

.item {
  border: 1px solid rgba(0, 0, 0, 0.44);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: calc(100% / 5);
  padding: 15px;
}
.item:hover {
    background-color: rgb(162, 158, 158);
  }

.label {
  color: #622929;
}

.percentage {
  color: #2c2b2b;
  font-size: 20px;
}
